@import "./tokens.css";

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

html, body {
  min-height: 100%;
  background: var(--bg);
  color: var(--fg);
}


.header {
  height: 100vh;
  flex-shrink: 0;
  overflow-y: auto;
}

.main {
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
