@import "variables.css";
@import "_reset.css";
@import "_typography";

.header {
  height: 100vh;
  flex-shrink: 0;
  overflow-y: auto;
}

.main {
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
