.menu {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
  width: 256px;
  font-family: "Inter", sans-serif;
  color: var(--dark-gray);
  font-size: 16px;
}

.menu__item {
  text-decoration: none;
  color: var(--black);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
}
.menu__item:hover {
  background-color: var(--gray);
  border-radius: 4px;
}

.menu__item--active {
  background-color: var(--light-gray);
  border-radius: 8px;
}
