.menu {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
  width: 256px;
}

.menu__item {
  text-decoration: none;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
}
.menu__item:hover {
  background-color: #e0e0e0cc;
  border-radius: 4px;
}

.menu__item--active {
  background-color: #e0e0e0cc;
  border-radius: 4px;
}
