.category-wrapper {
  flex-direction: column;
  display: flex;
  padding-top: 72px;
  padding-left: 164px;
  max-width: 613px;
  gap: 58px;
}

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
