.button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.button--edit {
  position: absolute;
  right: 16px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
