.button {
  cursor: pointer;
  border-radius: 8px;
  background: var(--black);
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  text-decoration: none;
}

.button:hover {
  background-color: var(--gray);
}

.button--sm {
  padding: 4px 8px;
  font-size: 12px;
}

.button--transparent {
  background: transparent;
  border: none;
  color: var(--black);
  padding: 0;
}

.button--transparent:hover {
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
