.button {
  cursor: pointer;
  border-radius: 8px;
  background: #000;
  display: flex;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

.button:hover {
  background-color: gray;
}

.button--sm {
  padding: 4px 8px;
  font-size: 14px;
}

.button--transparent {
  background: transparent;
  border: none;
  color: #000;
  padding: 0;
}

.button--transparent:hover {
  background: transparent;
}
