.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-new-category {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-new-category__header {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
