.item {
  display: flex;
  border-radius: 10px;
  border: 1px solid rgba(40, 40, 70, 0.1);
  cursor: pointer;
  position: relative;
  flex-grow: 1;
}

.item--done {
  background: rgba(224, 224, 224, 0.8);
}

.item__content--done {
  text-decoration: line-through;
}
