.page__container {
  display: flex;
  /* margin-left: 400px; */
  flex-direction: column;
  padding: 40px 0 0 400px;
  font-family: "Inter", sans-serif;
}

.page__header {
  display: flex;
}

.page__header-title {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
}

.page__header-icons {
  display: flex;
  flex-direction: row;
  padding: 0 0 4px 16px;
  gap: 4px;
}

.page__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 60%;
}

.page__body-title {
  font-size: 24px;
}

.button__container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
