@import "variables.css";

body {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: "Inter", sans-serif;
  color: var(--black);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 100vh;
  flex-shrink: 0;
  overflow-y: auto;
}

.main {
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
}

.title {
  font-size: 28px;
  font-weight: 600;
}
.subtitle {
  font-size: 24px;
  font-weight: 600;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
