body {
  margin: 0;
  display: flex;
  font-family: "Inter", sans-serif;
}

.header {
  height: 100vh;
  flex-shrink: 0;
  overflow-y: auto;
}

.main {
  flex-grow: 1;
  overflow-y: auto;
  height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.page__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 60%;
}

.page__header-buttons {
  display: flex;
  flex-direction: row;
  padding: 0 0 4px 16px;
  gap: 4px;
}


.page__body-title {
  font-size: 24px;
}

.button__container {
  gap: 16px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
