.item__container {
  padding: 1rem;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-grow: 1;
}

.item__checkbox {
  border: 1px solid var(--light-purple);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__content {
  margin: 0;
  flex-grow: 1;
  text-align: left;
}
