.sidebar {
  padding: 24px 8px;
  height: 100vh;
  position: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}

.sidebar__menu {
  width: 256px;
}
