.sidebar {
  flex-direction: column;
  justify-self: start;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.sidebar__button-container {
  padding: 0 16px;
}
