.sidebar {
  /* display: flex; */
  padding: 24px 8px;
  flex-direction: column;
  justify-content: start;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}

.button_icon {
  width: 10px;
  height: 10px;
  padding: 8px;
  border-radius: 8px;
  background: #000;
}

.menu {
  flex-grow: 1;
}
