.sidebar {
  flex-direction: column;
  justify-self: start;
  flex-grow: 1;
  position: fixed;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.sidebar__header__title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}

.sidebar__button__container {
  padding: 0 16px;
}

.sidebar__button {
  border-radius: 4px;
  background: #000;
  border: none;
  padding: 4 4px;
}

.sidebar__menu {
  width: 256px;
}
