.sidebar {
  flex-direction: column;
  justify-self: start;
  flex-grow: 1;
  position: fixed;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.sidebar-header__title {
  color: var(--black);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-decoration: none;
  font-weight: 500;
}

.sidebar__button-container {
  padding: 0 16px;
}
