.no-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding: 16px 0;
}

.no-content__item__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark-gray);
  font-family: "Inter", sans-serif;
}

.no-content__item__subtitle {
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: var(--dark-gray);
}
