.sidebar {
  flex-direction: column;
  justify-self: start;
  height: 100vh;
  border: 1px solid var(--gray);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.sidebar__button-container {
  padding: 0 24px;
}

::-webkit-scrollbar {
  display: none;
}

.plus-icon {
  filter: invert(100%);
}
