.container {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  color: #000;
  flex-grow: 1;
}

.label {
  font-weight: 500;
  padding: 8px 4px;
  font-size: 16px;
}

.input {
  padding: 8px 16px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid #e0e0e0;
  align-self: stretch;
  outline: none;
  font-weight: 400;
  font-size: 16px;
}

.input--nolabel {
  color: #000;
  font-size: 14px;
}

.input::placeholder {
  color: #a1a1a1;
}

.input--noborder {
  border: none;
}
