.field__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.label {
  font-weight: 500;
  padding: 8px 4px;
  font-size: 16px;
}

.input {
  padding: 8px 16px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid #e0e0e0;
  outline: none;
  font-weight: 400;
  font-size: 16px;
}

.input::placeholder {
  color: var(--dark-gray);
}

.input--borderless {
  border: none;
  outline: none;
}
